.header {
	width: 500px
	height: 500px;
	font-family: "arial";
	padding: 60px 20px;
	background-color: #00ff00;
	padding-top: 10px;
	}
.logo-header {
	font-size: 40px;
	padding: 20px 20px;
	float: left;
	}
.header-list {
	font-size: 26px;
	color: #ffff00;
	padding-bottom: 20px;
	}

li {
	list-style: none;
	float: left;
	padding: 7px 20px;
	}
.copy-container h1 {
	font-size: 38px;
	margin: 10px;
	color: #00ff00;
	}
.copy-container h2 {
	font-size: 25px;
	margin: 10px;
	color: #0000ff;
	}
.contact {
	color: #ff0000;
	}
.contents-item {
	float: left;
	margin-right: 20px;
	}
.footer {
	background-color: #00ff00;
	float: left;
	padding: 10px 20px;
	width: 97%;
	}
.footer-list {
	float: left;
	}
@media(min-width:321px) and (max-width:425px){
	section#box-profile{
		width: 90%;
		height: 630px;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 30px;
	}
	.menu-mobile{
		top: 20px;
		right: 10%;
		display: inline-block;
	}
	nav ul{
		display: none;
		right: 0;
		width: 100%;
		text-align: center;
		top: 43px;
		z-index: 99;
		background: #fff;
	}
	nav ul li{
		float: unset;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.description{
		padding-left: 0px;
		width: 100%
		text-align: center;
		boder: none;
	}
	.description-button{
		margin-right: 10px;
		margin-left: 10px;
	}
	.img-profile .photo{
		left: 75px;
		margin-left: 25px;
	}
	.information{
		top: 75px;
		margin-left: 25px;
		font-size: 14px;
	}
	. section#input-form{
		margin-left: 5%;
		margin-right: 5%;
	}
}
